<p><strong><u>File Playback</u></strong></p>
<p>- There are two ways to play a recorded file:</p>
<ul>
<li>go to <strong>File-&gt; Open File.</strong></li>
<li>Click on the <strong>Play </strong>button in the toolbar menu.</li>
</ul>
<p>- The file explorer window is directed to the folder location set in the User Setting under&nbsp;<strong>General-&gt;Set Path-&gt;Playback.</strong></p>
<p>- The application can play <strong>.JAS</strong> file or <strong>.XTF</strong></p>
<p>- Once the file starts playing, the <strong>Play</strong> button changes to <strong>Pause</strong></p>
<p>- Playback mode can be changed in the User Settings under</p>
<p>- The progress bar in the status bar indicates the progress of playback.</p>
<p>- The file playback can be stopped by clicking on the <strong>Stop</strong> button in the toolbar.</p>
<p><strong>- Stop</strong> button closes the file and cancels playback.</p>