<p><strong><u>File</u></strong></p>
<p>- Open File: -</p>
<ul>
<li>Opens a recorded file from the path/directory set in the <strong>Settings-&gt;General-&gt;SetPath</strong>.</li>
<li><strong>CTRL + O </strong>is keyboard shortcut to open a file.</li>
</ul>
<p>&nbsp;</p>
<p>- Save File: -</p>
<ul>
<li>Saves a recorded file to the path/directory set in the <strong>Settings-&gt;General-&gt;SetPath</strong>.</li>
<li><strong>CTRL + S</strong> is keyboard shortcut to save a file.</li>
</ul>
<p>&nbsp;</p>
<p>- Close File: -</p>
<ul>
<li>Closes a file being played.</li>
<li>Behaves similarly as the stop button in the recorder menu.</li>
</ul>
<p>&nbsp;</p>
<p>- Exit: -</p>
<ul>
<li>Closes the application.</li>
</ul>