<p><strong><u>Data Recording</u></strong></p>
<p>- The recording option is only available when connected to sonar.</p>
<p>- To start recording click on the <strong>Record</strong> button in the toolbar menu.</p>
<p>- A window pops up that will set a default name for each file which can be changed. The default name is the towfish type (Angledscan or Sidescan), time and date of recording.</p>
<p>- The file is saved as a <strong>.JAS</strong> file type</p>
<p>- The default folder location for saving recorded data can be set in the User Settings under <strong>General-&gt;Set Path-&gt;Data Recording.</strong></p>
<p>- During recording the <strong>Play</strong> button changes to a <strong>Pause</strong> button and the <strong>Record</strong> button changes to a <strong>Stop</strong> This allows pausing and stop of the recording.</p>
<p>- The recorded file can be played back later or converted to a <strong>.XTF</strong> file using the XTF Converter under <strong>Tools</strong></p>