<p><strong><u>How to use Flag Tool</u></strong></p>
<p>The Flag allows you to pin save specific location on the plot image.</p>
<p>The Flag tool can be enabled by:</p>
<ul>
<li>Right-click on either the LF or HF plot and click on the flag option.</li>
<li>go to the menu bar and click <strong>Tools &gt; Flag</strong>.</li>
<li>Clicking on the Flag button</li>
</ul>
<p>&nbsp;When the flag is active it becomes solid red color and becomes hollow when inactive.</p>
<p>To place a flag on LF plot make sure either &ldquo;LF or Both&rdquo; is checked in <strong>Settings &gt; Waypoints &gt; LF/Both</strong> and to place a flag on HF plot make sure either &ldquo;HF or Both&rdquo; is checked in <strong>Settings &gt; Waypoints &gt; HF/Both</strong>.</p>
<p>Once that is checked you can now play a recorded file and start placing flags.</p>
<p>When a flag is placed a dialog box pops up. You can choose to rename the flag or keep the provided name. The dialog box also shows the Latitude, Longitude, X and Y-coordinates.</p>
<p>The flag is saved when &ldquo;OK&rdquo; is clicked on the build flag dialog box.</p>
<p>Once the flag is created it will appear in the list widget under the GPS plot. Right-Clicking on the flag in the list gives 2 options. You can either delete the flag or GOTO the flag. The GOTO Flag feature allows you to go to the flag selected and plays the file starting from there.</p>
<p>To view Flags on plots, go to <strong>Settings &gt; Waypoints </strong>and select the plot you want to view the Flag on.</p>