<p><strong><u>How to use Measuring Tape tool</u></strong></p>
<p>The measuring tape tool can be enabled in two ways:</p>
<ul>
<li>Right-click on the plotting area and click on Measuring Tape option.</li>
<li>Or go to the menu bar and click <strong>Tools &gt; Measuring Tape</strong>.</li>
</ul>
<p>To take measurements, simply left click between two points of interest on the LF or HF plot.</p>
<p>The first click marks the beginning of the measurement, and the second click places the end of the measurement.</p>
<p>The measured distance is place at the end of the second click.</p>
<p>All measurements are based on boat speed set in the user menu.</p>
<p>The marked measurements can be removed from the plot by pressing escape key on the keyboard.</p>