<p><strong><u>Playback: -</u></strong></p>
<ul>
<li>Every 500 Pings &ndash; this setting pauses the playing of a recorded file after every 500 pings.</li>
<br>
<li>At End of File &ndash; this setting pauses the playing of a recorded file when it reaches the end.</li>
<br>
<li>Continuous loop &ndash; this setting plays the recorded file in a loop without pauses.</li>
</ul>