<p><strong><u>How to use Flag Tool</u></strong></p>
<p>The Flag allows you to pin save specific location on the plot image.</p>
<p>The Flag tool can be enabled by:</p>
<ul>
<li>Right-click on either the LF or HF plot and click on the flag option.</li>
<li>go to the menu bar and click <strong>Tools &gt; Flag</strong>.</li>
<li>Clicking on the Flag button</li>
</ul>
<p>&nbsp;When the flag is active it becomes solid red color and becomes hollow when inactive.</p>
<p>To place a flag on LF plot make sure either &ldquo;LF or Both&rdquo; is checked in <strong>Settings &gt; Waypoints &gt; LF/Both</strong> and to place a flag on HF plot make sure either &ldquo;HF or Both&rdquo; is checked in <strong>Settings &gt; Waypoints &gt; HF/Both</strong>.</p>
<p>Once that is checked you can now play a recorded file and start placing flags.</p>
<p>When a flag is placed a dialog box pops up. You can choose to rename the flag or keep the provided name. The dialog box also shows the Latitude, Longitude, X and Y-coordinates.</p>
<p>The flag is saved when &ldquo;OK&rdquo; is clicked on the build flag dialog box.</p>
<p>Once the flag is created it will appear in the list widget under the GPS plot. Right-Clicking on the flag in the list gives 2 options. You can either delete the flag or GOTO the flag. The GOTO Flag feature allows you to go to the flag selected and plays the file starting from there.</p>
<p>To view Flags on plots, go to <strong>Settings &gt; Waypoints </strong>and select the plot you want to view the Flag on.</p>

<p><strong><u>How to use Measuring Tape tool</u></strong></p>
<p>The measuring tape tool can be enabled in two ways:</p>
<ul>
<li>Right-click on the plotting area and click on Measuring Tape option.</li>
<li>Or go to the menu bar and click <strong>Tools &gt; Measuring Tape</strong>.</li>
</ul>
<p>To take measurements, simply left click between two points of interest on the LF or HF plot.</p>
<p>The first click marks the beginning of the measurement, and the second click places the end of the measurement.</p>
<p>The measured distance is place at the end of the second click.</p>
<p>All measurements are based on boat speed set in the user menu.</p>
<p>The marked measurements can be removed from the plot by pressing escape key on the keyboard.</p>

<p><span style="text-decoration: underline;"><strong>How to use the XTF converter:</strong></span></p>
<p>To select files to convert, click on the first Browse button in the select source file. Doing this will open the path set for playback in the &ldquo;user settings&rdquo; initially. Select the files needed for conversion. The converter allows one or multiple files to be converted. Only converts Side scan files.</p>
<p>Once the files are selected, they will appear in the list widget below. You can delete the files by Right-clicking on the file.</p>
<p>The &ldquo;Select Destination Folder:&rdquo; allows you to set the path/destination of the converted files. The path/destination is going to be the same as from where the files were selected from, you can select a new path or keep the same path.</p>
<p>Once done with steps 1 and 3 press the start button to convert the files.</p>
<p>The converted files will be in the location set in step 3.</p>
