<p><strong><u>Tracking</u></strong></p>

<ul>
<li>Traction Strip &ndash; displays the traction strip on the depth plot.</li>
</ul>
<ul>
<li>Depth Label &ndash; displays the labels on the depth plot.</li>
</ul>

<ul>
<li>Opacity &ndash; sets the opacity of the depth plot from 0 - 100%. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</li>
<li>Gradient &ndash;sets the gradient onto the plot from 100 - 1000 px. </li>
</ul>
<ul>
<li>Depth Palette &ndash;The color scheme of the depth plot can be changed and set like the Main Plot. </li>
</ul>
<ul>
<li>Trackable Depth &ndash; sets the depth ranges for view on the depth plot.</li>
</ul>