<p><strong><u>Waypoints: -</u></strong></p>
<ul>
	<br>
<li>LF &ndash; when checked displays the Flags saved or created on the LF plot and GPS plot only. This selection allows flag placement on the LF plot only and not on the HF plot.</li>
<br>
<li>HF - when checked displays the Flags saved or created on the HF plot and GPS plot only. This selection allows flag placement on the HF plot only and not on the LF plot.</li>
<br>
<li>Both &ndash; when checked displays the Flags saved or created on the HF plot, LF plot and GPS plot. This selection allows flag placement on both the HF plot and LF plot.</li>
</ul>