<p><span style="text-decoration: underline;"><strong>How to use the XTF converter:</strong></span></p>
<p>To select files to convert, click on the first Browse button in the select source file. Doing this will open the path set for playback in the &ldquo;user settings&rdquo; initially. Select the files needed for conversion. The converter allows one or multiple files to be converted. Only converts Side scan files.</p>
<p>Once the files are selected, they will appear in the list widget below. You can delete the files by Right-clicking on the file.</p>
<p>The &ldquo;Select Destination Folder:&rdquo; allows you to set the path/destination of the converted files. The path/destination is going to be the same as from where the files were selected from, you can select a new path or keep the same path.</p>
<p>Once done with steps 1 and 3 press the start button to convert the files.</p>
<p>The converted files will be in the location set in step 3.</p>